
.header{
    height: 80px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    padding: 0px 25px 0px 25px;
    align-items: center;
}

.header img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.underline{
    width: 75%;
    margin: 0px auto;
}

@media (max-width: 640px) {
    .header{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        
    }
}